*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
    background-color: #141c3a;
}

html {
    scroll-behavior: smooth;
}

body {
   /* background-color: grey; */
   color: white;
   margin: 0;
   text-align: center;
   border-left: 5px solid white;
   border-right: 5px solid white;
   /* animation: 2s slide-text; */
}

@keyframes slide-text {
    from {
        margin-left: -500px;
        opacity: 0;
    }
    to {
        margin-left: 0px;
        opacity: 1;
    }
}

nav {
    height: 10vh;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0vh;
    background-color: white;
    border-left: 5px solid white;
    border-right: 5px solid white;
}
#header-content, #about-inner, #skills-inner, #contact-inner {
    animation: slide-text 1s ease-in-out;
}

header, footer, section {
    /* padding-top: 10vh; */
    /* border-radius: 10px; */
}

section {
    height: 100vh;
    margin-bottom: 10px;
    background-color: #c9d8f0;
}

header {
    height: 150vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url('./assets/download.png');
    /* background-attachment: fixed; */
    background-repeat: no-repeat center center fixed;
    background-size: cover;
}

footer {
    height: 50vh;
    background-color: grey;
    padding-top: 10vh;
}

#header-content {
    height: 30%;
    width: 100%;
    line-height: 1.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-top {
    font-size: 1.2rem;
    color: #3972cc;
    font-weight: bold;
}

.header-name {
    font-size: 3rem;
    color: black;
    font-weight: bolder;
    font-family: "Sofia", sans-serif;
  text-shadow: 3px 3px 3px #ababab;
}

.header-role {
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
}

.header-role span {
    display: inline-block;
    overflow: hidden;
}

.header-role:first-child {
    width: 24%;
} 

.role-Write {
    border-right: 3px solid black;
    position: relative;
    white-space: nowrap;
    width: 100%;
    /* animation: typing 2s ease-in-out .75s infinite alternate; */
    /* overflow: hidden; */
}

/* @keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

@keyframes blink-effect {
    from {border-color: transparent;}
    to {border-color: black;}
} */

#header-image {
    width: 100%;
    /* height: 40%; */
}

.is-hidden {
    display: none;
}
.is-visible {
    /* display: inline; */
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    nav {
        display: none;
    }
}

#about {
    font-size: 30px;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    
    /* display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto; */
    
}

#about-inner {
    width: 490px;
    padding: 20px;
    flex-grow: 2;
    font-size: 20px;
    text-align: left;
    background-color: #7510F7;
    font-family: "europa", sans-serif;
    line-height: 1.5;
}

#about-inner p {
    text-align: center;
    font-size: 35px;
    margin: 0 0 15px 0;
}

#about-ext {
    width: 210px;
    flex-grow: 1;
    background-color: white;
}





